<section class="section">

  <div class="container content">
    <h1 class="title is-1"> About BruisedThumb.com</h1>
    <p>
    BruisedThumb.com is a place where I put my notes and thoughts. I write these for me so that I can look them up from anywhere at anytime. It's mostly technical stuff, but there might be other things here as well. If I've directed you here it's probably because you were trying to learn about something that I may have written about. I hope you find these posts useful.
    </p>
    <h2 class="title is-2"> About Dan</h2>
    <p>
    I'm a software developer who likes to solve problems, and if I had to describe myself in one word it would be unrelentless. That's for better or for worse. Good in that I don't give up easily when faced with a problem, but bad because I don't know when to quit. However, there's not enough time for everything, and I'm finding that you have to give up on some things if you want to experience others.
    </p>
    <p>
    Anyway, feel free to reach out to me. The best way is <a href="https://twitter.com/danclark">Twitter</a>.
    </p>
    <p>
    Have a great day!
    </p>
  </div>
</section>
