<section class="section">
  <div class="container">
    <h1 class="title is-1">Hey There!</h1>
    <p>Thanks for visiting. It has been awhile since this site has been operational, but that will change in the next week or two. Soon there will be tidbits of software development information that I stumbled upon.</p>
  </div>
</section>
