<h2 class="title is-2"> Posts </h2>
<% if @posts.count > 0 %>
  <% for post in @posts %>
    <div class="box">
    <%= link_to("#{post.created_at.strftime('%F')}: #{post.title}", post) %>
    <% if is_bruised_thumb? %>
       <%= link_to("Edit Post", edit_post_path(post), class:"button is-link is-small is-pulled-right") %>
    <% end %>
    </div>
  <% end %>
<% else %>
  <p> No posts found. Please check back later. </p>
<% end %>
